---
import Layout from "../layouts/Layout.astro";
import ThingsToDoGames from "../components/ThingsToDoGames.tsx";
---
<Layout>
    <section>
        <ThingsToDoGames client:load/>
    </section>
</Layout>