---
import Layout from "../layouts/Layout.astro";
import MarryGame from "../components/MarryGame";
---
<Layout>
    <section>
        <h1>
            This is the Things to Do
        </h1>
        <MarryGame client:load/>
    </section>
</Layout>