---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
const info = {
    name: "Miguel Espinoza",
    description: "Software Engineering",
    phoneNumber: "0123456789",
    email: "miguel@gmail.com",
    address: "Miguel Street Address",
}
---

<section class="relative w-full">
    <div class="relative">
        <img src="/images/HomePicture.webp" class="w-full h-auto object-cover" alt="Background" />

        <div class="absolute inset-0 flex items-center p-8 justify-between">
            <h1 class="text-black text-4xl md:text-6xl font-bold">Happy Anniversary</h1>
            <h1 class="text-black text-4xl md:text-6xl font-bold">July 25th 2024</h1>
        </div>
        <div class="absolute inset-0 flex flex-col-reverse items-center p-8 justify-end">
            <h1 class="text-black text-4xl md:text-8xl font-bold">Celeste and Miguel</h1>
        </div>
    </div>
</section>
